@font-face {
  font-family: "CormorantSC";
  src: url(../components/assets/fonts/CormorantSC-Regular.ttf);
}

@font-face {
  font-family: "OpenSans";
  src: url(../components/assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  overflow-x: hidden;
  font-family: "OpenSans";
  position: relative;
}

